<h1>Project Awesome Prototype</h1>

<p>URL:</p>

<pre><%= @url.inspect %></pre>

<p>For this quiz descriptor:</p>
<pre><%= @qd.inspect %></pre>

<p>And this seed:</p>
<pre><%= @seed.inspect %></pre>

<p>Here is the resulting json from the pa web service:</p>

<pre><%= @responseJson.inspect %></pre>
